*beam
log/*log
log/*access
log/*error
log/*log.1
log/*log.2

*~
*.dump

config/inets.conf
config/inets_https.conf

bin/connect
bin/heart
bin/to_erl
bin/start
bin/start_erl
bin/start_interactive
bin/run_erl
bin/stop

lib/compiler-*
lib/crypto-*
lib/eptic-*
lib/eptic_fe-*
lib/erlydtl-*
lib/ewgi-*
lib/ewts-*
lib/inets-*
lib/kernel-*
lib/mnesia-*
lib/runtime_tools-*
lib/sasl-*
lib/ssl-*
lib/stdlib-*
lib/syntax_tools-*
lib/wpart-*
lib/wparts-*
lib/xmerl-*

lib/core-*/ebin/*.beam
