<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Erlang Italia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="google-site-verification" content="2QnEeAByqwfiKFqXu82Grj7gLAmfVXCCHW8YtAcm_0I" />
  </head>
  <body>
    <div id="page">
      <div id="top">
	<div id="language">
	  <ul>
            <li><a href="/session/language/it">Italiano</a></li>
            <li><a href="/session/language/en">English</a></li>
	  </ul>
	</div>
	<div id="logo">
	  <a href="/">Italian EUG</a>
	</div>
	<div id="menu">
	  <ul>
            <li wpart:class="{[string]active_what}">
              <a href="/section/what"><wpart:lang key="section:title:what" /></a>
            </li>
            <li wpart:class="{[string]active_learn}">
              <a href="/section/learn"><wpart:lang key="section:title:learn" /></a>
            </li>
            <li wpart:class="{[string]active_news}">
              <a href="/section/news"><wpart:lang key="section:title:news" /></a>
            </li>
            <li wpart:class="{[string]active_jobs}">
              <a href="/section/jobs"><wpart:lang key="section:title:jobs" /></a>
            </li>
            <li wpart:class="{[string]active_team}">
              <a href="/section/team"><wpart:lang wpart:key="section:title:team" /></a>
            </li>
            <li wpart:class="{[string]active_links}">
              <a href="/section/links"><wpart:lang wpart:key="section:title:links" /></a>
            </li>
	  </ul>
	</div>
      </div>
      <div id="main">
	<div id="content">
	  <wtpl:include name="content" />
	</div>
      </div>
      <div id="footer">
	Powered by <a href="http://www.erlang-web.org" target="_blank">Erlang Web</a> | Copyright 2010 - Italian Erlang User Group.
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-15421901-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
