<wtpl:parent path="base.html">
  <wtpl:content name="content">
    <h1>Erlang Italia</h1>
    <p>
      <a href="http://groups.google.com/group/erlang-etna" target="_blank">Mailing List</a>
    </p>
    <div id="collecta"> 
      <iframe style="border:none;width:100%; height:400px;overflow:hidden;"
              src="http://widget.collecta.com/widget.html?query=erlangit&amp;alias=What's%20happening&amp;delay=2&amp;fullimage=undefined"
              id="widgetframe"
              frameborder="0"
              scrolling="no">
      </iframe>
    </div>
  </wtpl:content>
</wtpl:parent>
