<wtpl:parent path="base.html">
  <wtpl:content name="content">
    <h1><wpart:lang key="section:title:learn" /></h1>
	<p>La curva di apprendimento di Erlang, puo' variare in base alla preparazione personale, e di conseguenza, 
	in questa pagina e' giusto proporre due percorsi di apprendimento distinti.</p>
	<p>
	Nel primo percorso si suppone che chi stia leggendo non abbia alcun fondamento riguardo alla programmazione funzionale, 
	e di conseguneza, dato che Erlang e' un linguaggio di programmazione che soddisfa il paradigma funzionale in modo non puro, 
	sara' utile farsi un idea ed entrare in contatto con questo modo di pensare.
	E' importante che questa parte di percorso venga presa in considerazione soprattutto da coloro che provengono da linguaggi 
	che seguono il paradigma della programmazione imperativa, perche' dovranno capire le differenze con le loro abbitudini di 
	programmazione, prima di poter pensare alla sintassi del linguaggio Erlang.
	</p>
	<p>
	Nel secondo percorso invece si forniranno informazioni quali link utlili e libri per riscire a fare una vera e propria "full immersion" 
	che vi portera' a conoscere il linguaggio, i suoi punti di forza e gli ambiti nei quali trova maggior applicazione.
	</p>
	<h3>Uno sguardo alla Programmazione Funzionale</h3>
	<p></p>
	<h3>Imparare Elrang</h3>
	<p>Di seguito potete trovare una serie di link che propongono risorse fruibili liberamente on-line:</p>
	<ul>
		<li><strong>"<a href="http://www.erlangforsceptics.com/">Erlang for Skeptics</a>"</strong> di Luke Venediger</li>
		<li><strong>"<a href="http://www.erlang.org/quick_start.html">Getting started quickly</a>"</strong> direttamente dal sito ufficiale di Erlang</li>
		<li><strong>"<a href="http://www.erlang.org/doc/getting_started/users_guide.html">Getting started slowly</a>"</strong> direttamente dal sito ufficiale di Erlang</li>
		<li><strong>"<a href="http://www.erlang.org/doc/">Getting started very very very slowly</a>"</strong> direttamente dal sito ufficiale di Erlang</li>
		<li><strong>"<a href="http://www.erlang.org/doc.html">Articoli e Documentazione</a>"</strong> direttamente dal sito ufficiale di Erlang</li>
		<li></li>
	</ul>
	<p>Di seguito trovate un elenco dei libri consigliati per ottenere una buona conoscenza e padronanza del linguaggio:</p>
	<ul>
		<li><strong>"ERLANG Programming"</strong> di Francesco Cesarini e Simon Thompson (<a href="http://oreilly.com/catalog/9780596518189">Editore</a> - <a href="http://www.amazon.com/ERLANG-Programming-Francesco-Cesarini/dp/0596518188">Amazon</a>)</li>
		<li><strong>"Programming Erlang: Software for a Concurrent World"</strong> di Joe Armstrong (<a href="http://oreilly.com/catalog/9781934356005">Editore</a> - <a href="http://www.amazon.com/Programming-Erlang-Software-Concurrent-World/dp/193435600X">Amazon</a>)</li>
		<li><strong>"Erlang and OTP in Action"</strong> di Martin Logan, Eric Merritt, e Richard Carlsson (<a href="http://www.amazon.com/Erlang-OTP-Action-Martin-Logan/dp/1933988789">Amazon</a>)</li>
		<li><strong>"Erlang Web Applications: Problem - Design - Solutions"</strong> di Nick Gerakines (<a href="http://www.amazon.com/Erlang-Web-Applications-Problem-Solutions/dp/0470743840">Amazon</a>)</li>
		<li><strong>"Mastering Erlang: Writing Real World Applications"</strong> di Geoff Cant (<a href="http://www.amazon.com/Mastering-Erlang-Writing-World-Applications/dp/1430227699">Amazon</a>)</li>
	</ul>
  </wtpl:content>
</wtpl:parent>
