body {
    margin: 0;
	margin-top: 0.2em;
    font-family: Verdana,Arial,Helvetica;
    background-color: #353535;
    color: #aaaaaa;
}

#page {
    width: 900px;
    margin: 0 auto;
    text-align: left;
}

#top {
    float: left;
    text-align: center;
}

#language {
    float: right;
}

#language ul li {
    float: left;
    list-style: none;
    padding: 0 5px;
}


#language a {
    color: #aaaaaa;
    text-decoration: none;
}

#language a:hover {
    color: #ffffff;
}

#logo {
    float: left;
    font-size: 2em;
}

#logo a {
    color: #aaaaaa;
    text-decoration: none;
}

#logo a:hover {
    color: #ffffff;
}

#menu {
    text-color: #aaaaaa;
    float: right;
    font-size: 0.9em;
	margin-bottom: 0.4em;
}

#menu ul li {
    float: left;
    list-style: none;
    padding: 0 10px;
}

#menu .active {
   background-color: #ffffff;
}

#menu a {
    color: #aaaaaa;
    text-decoration: none;
}

#menu a:hover {
    color: #ffffff;
}

#menu .active a {
    color: #555555;
    text-decoration: none;
}

#main {
    clear: both;
    background-color: #ffffff;
    color: #555555;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px; 
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	padding-right: .5em;
	
	text-align: justify;
	font-family: Verdana,Tahoma,Arial;
	font-size: small;
}

#content {
}

#footer {
    font-size: 0.8em;
    padding-top: .5em;
}

#footer a {
    color: #aaaaaa;
    text-decoration: none;
}

#footer a:hover {
    color: #ffffff;   
}